<div class="containerBigCard">
  <div class="BigCardPicture">
    <img src="placeholder.png"
    class="placeholder"
    height="250px"
    alt=""
    >
  </div>

  <div class="BigCardTitle">
    <h1><a href="#">Titulo do Card</a></h1>
  </div>

  <div class="BigCardDescription">
    <p>
      <a href="#">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisi nullam vehicula ipsum a arcu. Viverra orci sagittis eu volutpat odio. Faucibus a pellentesque sit amet porttitor eget dolor. Dui id ornare arcu odio. Nunc sed id semper risus.
      </a>
    </p>
  </div>
</div>
