.nome {
  color: #ffffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 135px;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
  margin-top: 20px;
  margin-bottom: 5px;
}
