<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    photocover="ironman.jpg"
    Titulo="NOVO HOMEM DE FERRO ANUNCIADO"
    cardDescription="Marvel Studios anuncia novo filme do Homem de Ferro"></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
    photocover="avengers.jpg"
    Titulo="NOVO JOGO ANUNCIADO"></app-small-card>
    <app-small-card
    photocover="avengers.jpg"
    Titulo="NOVO PERSONAGEM ANUNCIADO"></app-small-card>
    <app-small-card
    photocover="avengers.jpg"
    Titulo="NOVO UNIVERSO ANUNCIADO"></app-small-card>
  </div>
</div>

<hr>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    photocover="https://www.wallpapersshare.com/img/big/robert-downey-jr-as-iron-man-movie-wallpaper.jpg"
    Titulo="NOVIDADES DO NOVO HOMEM DE FERRO"
    cardDescription="Marvel Studios anuncia novo filme do Homem de Ferro"></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
    photocover="avengers.jpg"
    Titulo="NOVA SÉRIE ANUNCIADA"></app-small-card>
    <app-small-card
    photocover="avengers.jpg"
    Titulo="NOVO FILME ANUNCIADO"></app-small-card>
    <app-small-card
    photocover="avengers.jpg"
    Titulo="NOVA HQ ANUNCIADA"></app-small-card>
  </div>
</div>



