<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    photocover="ironman.jpg"
    Titulo="NOVO HOMEM DE FERRO ANUNCIADO"
    cardDescription="Marvel Studios anuncia novo filme do Homem de Ferro"></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
    photocover="avengers.jpg"
    Titulo="Titulo do Card Menor"></app-small-card>
    <app-small-card
    photocover="avengers.jpg"
    Titulo="Titulo do Card Menor"></app-small-card>
    <app-small-card
    photocover="avengers.jpg"
    Titulo="Titulo do Card Menor"></app-small-card>
  </div>
</div>



